{% extends 'base.html' %} 
{% load static %} 

{% block title %} Cart Page {% endblock title %} 

{% block content %}

<!-- search area -->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn"><i class="fas fa-window-close"></i></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <h3>Search For:</h3>
            <input type="text" placeholder="Keywords" />
            <button type="submit">Search <i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Fresh and Organic</p>
          <h1>Cart</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
  <div class="container">
          <div class="row d-flex justify-content-center my-4">
            {% if basket|length == 0 %}
            <div class="col-md-6">
              <div class="card mb-4">
                <div class="card-body">
                  <p><strong>Your basket is empty</strong></p>
                  <a href="{% url 'fruits_app:index' %}">Continue Shopping</a>
                </div>
              </div>
            </div>
            {% else %}
            <div class="col-md-6">
              <div>
                <a href="{% url 'fruits_app:index' %}">Continue Shopping</a>
              </div>
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Basket Summary</h5>
                </div>
                {% for item in basket %}
                {% with product=item.product %}
                <div class="card-body product-item" data-index="{{product.id}}">
                  <!-- Single item -->
                  <div class="row">
                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                      <!-- Image -->
                      <div
                        class="bg-image hover-overlay hover-zoom ripple rounded"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="{{ product.image.url }}"
                          class="w-100"
                          alt="{{product.title}}"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: rgba(251, 251, 251, 0.2)"
                          ></div>
                        </a>
                      </div>
                      <!-- Image -->
                    </div>

                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                      <!-- Data -->
                      <p><strong>{{product.title}}</strong></p>

                      <button
                        type="button"
                        id="update-button"
                        data-index="{{product.id}}"
                        class="update-button text-decoration-none small ps-3 btn btn-success"
                      >
                        Update
                      </button>

                      <button
                        type="button"
                        id="delete-button"
                        data-index="{{product.id}}"
                        class="delete-button text-decoration-none small btn btn-danger"
                      >
                        Delete
                      </button>
                      <!-- Data -->
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                      <div class="single-product-form">
                        <form id="select" action="{% url 'cart:cart_add' %}" method="post">
                          {% csrf_token %}
                          <input type="number" id="quantity-input" name="quantity" value="1" placeholder="0" min="1" required>
                          <input type="hidden" id="product-id" value="{{ product.id }}">  <!-- Use product.id here -->
                          <button type="submit" id="add-button" class="cart-btn" style="background-color: #F28123; color: white;">
                            <i class="fas fa-shopping-cart"></i> Add to Cart
                          </button>
                        </form>
                      </div>
                      <p class="text-start text-md-center">
                        <strong>&#8358; {{product.price}}</strong>
                      </p>
                    </div>
                  </div>
                  <!-- Single item -->
                  <hr class="my-4" />
                </div>
                {% endwith %}
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>

          <div class="col-lg-4">
            <div class="total-section">
              <table class="total-table">
                <thead class="total-table-head">
                  <tr class="table-total-row">
                    <th>Total</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="total-data">
                    <td><strong>Subtotal: </strong></td>
                    <td>$500</td>
                  </tr>
                  <tr class="total-data">
                    <td><strong>Shipping: </strong></td>
                    <td>$45</td>
                  </tr>
                  <tr class="total-data">
                    <td><strong>Total: </strong></td>
                    <td>$545</td>
                  </tr>
                </tbody>
              </table>
              <div class="cart-buttons">
                <a href="cart.html" class="boxed-btn">Update Cart</a>
                <a href="checkout.html" class="boxed-btn black">Check Out</a>
              </div>
            </div>

          </div>
        
      
    
    <!-- end cart -->

</div>
</div>

{% endblock %}
