{% extends 'base.html' %}

{% load static %}

{% block title %}
  Home Page
{% endblock title %}

{% block content %}


<style>
    .latest-news-bg {
        height: 200px; /* Fixed height for images */
        background-size: cover;
        background-position: center;
    }
    .single-latest-news {
        display: flex;
        flex-direction: column;
        height: 100%; /* Ensure equal height for all cards */
    }
    .excerpt {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Limit the number of lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>



	<!-- home page slider -->
	<div class="homepage-slider" style="background-image: url({% static 'assets/img/homepage1.jpeg'%}); background-size: cover; background-position: center;">
		<!-- single home slider -->
		<div class="single-homepage">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Fresh & Organic</p>
								<h1>Delicious Seasonal Food</h1>
								<div class="hero-btns">
									<a href="{% url 'fruits_app:shop' %}" class="boxed-btn">Food Collection</a>
									<a href="{% url 'fruits_app:contact' %}" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider" style="background-image: url({% static 'assets/img/homepage2.jpeg'%}); background-size: cover; background-position: center;">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Fresh Everyday</p>
								<h1>100% Organic Collection</h1>
								<div class="hero-btns">
									<a href="{% url 'fruits_app:shop' %}" class="boxed-btn">Visit Shop</a>
									<a href="{% url 'fruits_app:contact' %}" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider" style="background-image: url({% static 'assets/img/homepage3.jpeg'%}); background-size: cover; background-position: center;">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Mega Sale Going On!</p>
								<h1>Get December Discount</h1>
								<div class="hero-btns">
									<a href="{% url 'fruits_app:shop' %}" class="boxed-btn">Visit Shop</a>
									<a href="{% url 'fruits_app:contact' %}" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
				{% for featured_produts in featured_products %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image" style="justify-content: center; display: flex;">
							<a href="{% url 'fruits_app:single-product' featured_produts.id %}">
								<div style="background-image: url({{featured_produts.image.url}}); width:250px; height:250px; background-position:center; background-size:cover; border-radius: 5px;">
								</div>
								<!-- <img src="{% static 'assets/img/jollof rice.jpeg' %}" alt=""></a> -->
						</div>
						<h3 class="pt-3">{{featured_produts.name}}</h3>
						<p class="product-price"><span>Per Portion</span>&#8358;{{featured_produts.price}}</p>
	
						<a href="{% url 'fruits_app:cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-50">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> off per kg
                                </span>
                            </div>
                        </div>
                    	<img src="{% static 'assets/img/hamburger.png' %}" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Deal</span> of the month</h3>
                    <h4>Hikan Strwaberry</h4>
                    <div class="text">Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae, minima quisquam molestias facere ea. Perspiciatis unde omnis iste natus error sit voluptatem accusant</div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="{% url 'fruits_app:cart' %}" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar1.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Saira Hakim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar2.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>David Niph <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar3.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Jacob Sikim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="about-image" style="position: relative;">
						<img src="{% static 'assets/img/about.jpeg' %}" alt="About TasteQuest" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">About Us</p>
						<h2>Welcome to <span class="orange-text">TasteQuest</span></h2>
						<p>Etiam vulputate ut augue vel sodales. In sollicitudin neque et massa porttitor vestibulum ac vel nisi. Vestibulum placerat eget dolor sit amet posuere. In ut dolor aliquet, aliquet sapien sed, interdum velit. Nam eu molestie lorem.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis illo repellat veritatis minus, et labore minima mollitia qui ducimus.</p>
						<a href="{% url 'fruits_app:about' %}" class="boxed-btn mt-4">View Product</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- end advertisement section -->
	
	<!-- shop banner -->
	<section style="
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url({% static 'assets/img/Yoruba food.jpeg' %});
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px;
    text-align: center;
">
    <div class="container">
        <h3 style="
            font-size: 3rem;
            line-height: 1.2;
            color: #D23600; /* Festive red-orange */
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
        ">
            December sale is on! <br> with big <span style="color: #FF7F50;">Discount...</span>
        </h3>
        <div class="sale-percent" style="
            font-size: 2rem;
            color: #D23600;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        ">
            <span>Sale! <br> Up to</span> <span style="color: #FF4500; font-size: 3rem;">50%</span> <span>off</span>
        </div>
        <a href="{% url 'fruits_app:shop' %}" class="cart-btn btn-lg" style="
            background-color: #D23600; /* Button color */
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        ">Shop Now</a>
    </div>
</section>


	<!-- end shop banner -->

	<!-- latest blog -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Latest</span> Blog</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
				{% for blog in blogs %}
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-blog.html"><div class="latest-news-bg" style="background-image: url({{blog.image.url}});"></div></a>
						<div class="news-text-box">
							<h3><a href="single-blog.html">{{blog.title}}</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i>{{blog.author}}</span>
								<span class="date"><i class="fas fa-calendar"></i>{{blog.created_at | date:'M d, Y'}}</span>
							</p>
							<p class="excerpt">{{blog.content}}</p>
							<a href="single-blog.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="single-blog.html" class="boxed-btn">More News</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->


	<script>
		// Function to update the counter based on scroll position
		function updateCounter(entries, observer) {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					// Increment the counter values based on your logic
					updateCounters();
					// Stop observing once the element is in the viewport
					observer.unobserve(entry.target);
				}
			});
		}
	
		// Function to update the counter values
		function updateCounters() {
			const counters = document.querySelectorAll('.count');
			counters.forEach(counter => {
				const max = counter.dataset.max;
				// Update the counter value based on your logic
				// For example, you can use setInterval to increment the counter
				let currentValue = 0;
				const interval = setInterval(() => {
					currentValue++;
					counter.textContent = currentValue.toString().padStart(2, '0');
					if (currentValue >= max) {
						clearInterval(interval);
					}
				}, 1000); // Update every second (adjust as needed)
			});
		}
	
		// Set up the Intersection Observer
		const observer = new IntersectionObserver(updateCounter, { threshold: 0.5 });
		const timeCountdown = document.querySelector('.time-countdown');
		observer.observe(timeCountdown);
	
	</script>
{% endblock %}