{% extends 'base.html' %}

{% load static %}

{% block title %}
  Single news Page
{% endblock title %}

{% block content %}

	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Read the Details</p>
						<h1>Single Blog</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	
	<!-- single article section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="single-article-section">
						<div class="single-article-text">
							<div class="single-article"><img src="{{blog_details.image.url}}" alt=""></div>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i>{{blog_details.author}}</span>
								<span class="date"><i class="fas fa-calendar"></i>{{blog_details.created_at | date:'M d, Y'}}</span>
							</p>
							<h2>{{blog_details.title}}</h2>
							<p>{{blog_details.content}}</p>
						</div>

						<div class="comments-list-wrap mt-150 mb-150">
							{% if message %}
							{% for message in messages %}
							<div class="alert {{message.tags}}">{{message}}</div>
							{% endfor %}
							{% endif %}
							<h3 class="comment-count-title">{{ comments.count }} Comments</h3>
							{% for comment in comments %}
							<div class="comment-list">
								<div class="single-comment-body">
									<div class="comment-text-body">
										<h4>{{ comment.name }} <span class="comment-date">{{ comment.created_at|date:"M d, Y" }}</span></h4>
										<p>{{ comment.message }}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						

						<div class="comment-template">
							<h4>Leave a Review</h4>
							<p>If you have a review, don't hesitate to send us your opinion.</p>
							<form action="{% url 'fruits_app:single-blog' id=blog_details.id %}" method="POST" class="request-form ftco-animate">
								{% csrf_token %}
								{{ comment_form.as_p }} 
								<button type="submit" class="btn btn-secondary">Send Review</button>
							</form>
						</div>
						
					</div>
				</div>
				<div class="col-lg-4">
					<div class="sidebar-section">
						<div class="recent-posts">
							<h4>Recent Posts</h4>
							<ul>
								<li><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></li>
								<li><a href="single-news.html">A man's worth has its season, like tomato.</a></li>
								<li><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></li>
								<li><a href="single-news.html">Fall in love with the fresh orange</a></li>
								<li><a href="single-news.html">Why the berries always look delecious</a></li>
							</ul>
						</div>
						<div class="archive-posts">
							<h4>Archive Posts</h4>
							<ul>
								<li><a href="single-news.html">JAN 2019 (5)</a></li>
								<li><a href="single-news.html">FEB 2019 (3)</a></li>
								<li><a href="single-news.html">MAY 2019 (4)</a></li>
								<li><a href="single-news.html">SEP 2019 (4)</a></li>
								<li><a href="single-news.html">DEC 2019 (3)</a></li>
							</ul>
						</div>
						<div class="tag-section">
							<h4>Tags</h4>
							<ul>
								<li><a href="single-news.html">Apple</a></li>
								<li><a href="single-news.html">Strawberry</a></li>
								<li><a href="single-news.html">BErry</a></li>
								<li><a href="single-news.html">Orange</a></li>
								<li><a href="single-news.html">Lemon</a></li>
								<li><a href="single-news.html">Banana</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single article section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
{% endblock %}
