{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Windmill Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'user/assets/css/tailwind.output.css' %}" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="{% static 'user/assets/js/init-alpine.js' %}"></script>
  </head>
  <body>
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
      <div
        class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
      >
        <div class="flex flex-col overflow-y-auto md:flex-row">
          <div class="h-32 md:h-auto md:w-1/2">
            <img
              aria-hidden="true"
              class="object-cover w-full h-full dark:hidden"
              src="{% static 'assets/img/homepage3.jpeg' %}"
              alt="Office"
            />
            <img
              aria-hidden="true"
              class="hidden object-cover w-full h-full dark:block"
              src="{% static 'assets/img/homepage3.jpeg' %}"
              alt="Office"
            />
          </div>
          <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
            <div class="w-full">
              <h1
                class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
              >
                Login
              </h1>
              <h3 class="mb-4">
                Hello! <span>Please login to continue</span>
                </h3>
                {% if messages %}
                {% for message in messages %}
                  <div class="alert {{message.tags}}">{{message}}</div>
                {% endfor %}
                {% endif %}
              <form action="#" method="post" class="signup-form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input
                    type="text"
                    name="username"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter Username"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                  />
                </div>
                <div class="form-group">
                  <input type="checkbox" id="show-password" />
                  <label for="show-password">Show Password</label>
                </div>

                <div class="form-group">
                  <button
                    type="submit"
                    class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                  >
                    Login
                  </button>
                </div>
              </form>
              <div class="w-100 social-wrap">
                <p class="mt-4">
                  Don't have an account?<a href="{% url 'users:register' %}"
                    >Sign Up</a
                  >
                </p>
              </div>
              <hr class="my-8">
              <p class="mt-4">
              </p>
              <p class="mt-1">
              </p> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Toggle password visibility
      document
        .getElementById("show-password")
        .addEventListener("change", function () {
          var passwordInput = document.getElementById("password");
          if (passwordInput.type === "password") {
            passwordInput.type = "text";
          } else {
            passwordInput.type = "password";
          }
        });
    </script>
  </body>
</html>
